body {
	background: white;
}

	
h1, h3, p {
	font-family: Lucida Console;
	line-height: 15px;
	margin-bottom: 0px
	margin-top: 0px;

}

canvas {
	border: 5px solid black;
}

.boxed {
  border: 2px solid black;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    #order{
        display:none;
    }
}