body {
	padding: 0;
	margin: 0;
	background: white;
	overflow: auto;
    overscroll-behavior: none; 
}

	
h1, h2, p {
	font-family: Lucida Console;
	line-height: auto;
}


canvas {
	padding: 0;
    margin: 0;
	display: block;
	border: 5px solid black;
	box-sizing: border-box; 
	max-width: 100%; 

}

.boxed { 	
  border: 2px solid black;
}